{% extends request.user.get_template %}
{% block title %} Profile {% endblock %}
{% block content %}
{% load dir %}
{% load staticfiles %}
<style>
    .owl-theme .owl-nav {
        margin-top: -10px;
        text-align: right;
        -webkit-tap-highlight-color: transparent;
    }
</style>
<div class="container">
    <form action="{% url 'create_docker' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" hidden name="type" id="hidden_input">
        <input type="text" hidden name="type" id="hidden_output">
        <input type="text" hidden name="type" id="hidden_response">
        <input type="text" hidden name="type" id="hidden_graph">
        <input type="text" hidden name="type" id="hidden_example">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control{% if errors.name %} is-invalid {% endif %}" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter name proyect">
                    <small class="form-text text-danger">{{errors.name | error}}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="img_name">Image name:</label>
                    <select class="custom-select {% if errors.img_name %} is-invalid {% endif %}" id="img_name" name="img_name">
                        {% for i in images %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text text-danger">{{errors.img_name | error}}</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="languaje">Languaje:</label>
                    <select class="custom-select {% if errors.languaje %} is-invalid {% endif %}" id="languaje" name="languaje">
                        <option value="python">Python</option>
                    </select>
                    <small class="form-text text-danger">{{errors.languaje | error}}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="proto_path">Proto file:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input {% if errors.proto_path %} is-invalid {% endif %}" id="proto_path" name="proto_path" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="proto_path">Choose proto file</label>
                    </div>
                    <small class="form-text text-danger">{{errors.proto_path | error}}</small>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="proto_path">Elements:</label>
                <div class="row">
                    <div class="col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check_input" checked disabled>
                            <label for="check_input" class="custom-control-label">Input</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check_output" checked>
                            <label for="check_output" class="custom-control-label">Output</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check_response" checked disabled>
                            <label for="check_response" class="custom-control-label">Response</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check_graph" checked>
                            <label for="check_graph" class="custom-control-label">Graph</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="glide">
            <div data-glide-el="track" class="glide__track">
                <ul class="glide__slides">
                    <li class="glide__slide" data-index="0" id="slide0">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="" data-toggle="tooltip" data-placement="top" title="Input data">
                                                    <div data-ride="false" data-interval="false" class="carousel slide" >
                                                        <div class="carousel-inner input">
                                                            <div class="carousel-item active" value="img">
                                                                <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
                                                            </div>
                                                            <div class="carousel-item" value="video">
                                                                <img class="d-block w-100" src="{% static 'img/video.jpg' %}" alt="Second slide">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" onclick="clickCarousel(this)" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" onclick="clickCarousel(this)" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="" data-toggle="tooltip" data-placement="top" title="Output data">
                                                    <div data-ride="false" data-interval="false" class="carousel slide" >
                                                        <div class="carousel-inner output">
                                                            <div class="carousel-item active" value="img">
                                                                <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
                                                            </div>
                                                            <div class="carousel-item" value="video">
                                                                <img class="d-block w-100" src="{% static 'img/video.jpg' %}" alt="Second slide">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" onclick="clickCarousel(this)" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" onclick="clickCarousel(this)" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="m-3" data-toggle="tooltip" data-placement="top" title="Response">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos quam ab facilis esse numquam alias eos, similique accusantium adipisci veritatis incidunt, sapiente magni quaerat ipsum odit hic dolorum magnam.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="" data-toggle="tooltip" data-placement="top" title="Graph">
                                            <img class="d-block w-100" src="{% static 'img/pie.png' %}" alt="First slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide" data-index="1" id="slide1">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row mb-1">
                                            <div class="col-md-12">
                                                <div class="" data-toggle="tooltip" data-placement="top" title="Input data">
                                                    <div data-ride="false" data-interval="false" class="carousel slide" >
                                                        <div class="carousel-inner input">
                                                            <div class="carousel-item active" value="img">
                                                                <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
                                                            </div>
                                                            <div class="carousel-item" value="video">
                                                                <img class="d-block w-100" src="{% static 'img/video.jpg' %}" alt="Second slide">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" onclick="clickCarousel(this)" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" onclick="clickCarousel(this)" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="m-3" data-toggle="tooltip" data-placement="top" title="Response">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos quam ab facilis esse numquam alias eos, similique accusantium adipisci veritatis incidunt, sapiente magni quaerat ipsum odit hic dolorum magnam.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="" data-toggle="tooltip" data-placement="top" title="Graph">
                                            <img class="d-block w-100" src="{% static 'img/pie.png' %}" alt="First slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide" data-index="2" id="slide2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="" data-toggle="tooltip" data-placement="top" title="Input data">
                                                    <div data-ride="false" data-interval="false" class="carousel slide" >
                                                        <div class="carousel-inner input">
                                                            <div class="carousel-item active" value="img">
                                                                <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
                                                            </div>
                                                            <div class="carousel-item" value="video">
                                                                <img class="d-block w-100" src="{% static 'img/video.jpg' %}" alt="Second slide">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" onclick="clickCarousel(this)" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" onclick="clickCarousel(this)" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="" data-toggle="tooltip" data-placement="top" title="Output data">
                                                    <div data-ride="false" data-interval="false" class="carousel slide" >
                                                        <div class="carousel-inner output">
                                                            <div class="carousel-item active" value="img">
                                                                <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
                                                            </div>
                                                            <div class="carousel-item" value="video">
                                                                <img class="d-block w-100" src="{% static 'img/video.jpg' %}" alt="Second slide">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" onclick="clickCarousel(this)" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" onclick="clickCarousel(this)" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="m-3" data-toggle="tooltip" data-placement="top" title="Response">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos quam ab facilis esse numquam alias eos, similique accusantium adipisci veritatis incidunt, sapiente magni quaerat ipsum odit hic dolorum magnam.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        <div class="form-text text-danger float-right">{{messages | error}}</div>
    </form>
    
    <div class="row mt-3">
        <div class="col-12">
            <div id="terminal"></div>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel();

    const config = {
        type: "carousel",
        perView: 1,
        dragThreshold: false,
    }
    let glide = new Glide('.glide', config)

    glide.on('build.after', function() {
        var slideHeight = $('.glide__slide--active').outerHeight();
        var glideTrack = $('.glide__track').outerHeight();
        if (slideHeight != glideTrack) {
            var newHeight = slideHeight;
            $('.glide__track').animate({'height':newHeight}, 300);
        }
    });

    glide.on('run.after', function() {
        var slideHeight = $('.glide__slide--active').outerHeight();
        var glideTrack = $('.glide__track').outerHeight();
        if (slideHeight != glideTrack) {
            var newHeight = slideHeight;
            $('.glide__track').animate({'height':newHeight}, 300);
        }
    })

    glide.mount()

   function clickCarousel(e){
        $(e.parentElement).carousel('next')
    }

    $('.custom-control-input').click(function(){
        graph = $('#check_graph').prop('checked')
        output = $('#check_output').prop('checked')
        console.log(graph, output)
        if (graph && output){
            glide.go('='+0)
        } else if(graph && !output){
            glide.go('='+1)
        } else if(!graph && output){
            glide.go('='+2)
        }  else {
            $(this).prop('checked', true)
        }
    })

    $('form').submit(function(e){
        e.preventDefault()
        input = $("#slide"+glide.index+" div.carousel-inner.input div.active").attr('value')
        output = $("#slide"+glide.index+" div.carousel-inner.output div.active").attr('value')
        graph = $('#check_graph').prop('checked')
        $('#hidden_input').val(input ? input : 'img')
        $('#hidden_output').val(output ? output : 'none')
        $('#hidden_response').val('txt')
        $('#hidden_graph').val(graph ? 'graph' : 'none')
        $('#hidden_example').val('none')
        $(this)[0].submit()
    })

</script>

{% endblock %}