{% extends request.user.get_template %}
{% block title %} Dockers {% endblock %}
{% block content %}
{% load dir %}
{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="response"></div>
        </div>
    </div>
    <div class="row">
        {% if object_list %}
            {% for docker in object_list %}
                <div class="col-sm-6" id="i{{docker.id}}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        {{docker.name}}
                                    </div>
                                    <div class="col-6 text-right">
                                        {% if docker.state %}
                                            <i url="{% url 'detail_docker' docker_id=docker.id%}" method="get" onclick="click_model(this, 'i{{docker.id}}', 'Confirm request', '¿You want to delete the container?',)" class="fas fa-stop-circle pointer text-dark" data-toggle="tooltip" data-placement="bottom" title="Stop model"></i>
                                            <i class="fas fa-vial pointer text-success" data-toggle="tooltip" data-placement="bottom" title="Test model" url="{% url 'detail_docker' docker_id=docker.id%}" method="put" onclick="click_model(this, 'i{{docker.id}}', 'Confirm request', '¿You want to delete the container?',)"></i>
                                        {% else %}
                                            <i url="{% url 'detail_docker' docker_id=docker.id%}" method="put" onclick="click_model(this, 'i{{docker.id}}', 'Confirm request', '¿You want to delete the container?',)"  class="fas fa-play-circle pointer text-primary" data-toggle="tooltip" data-placement="bottom" title="Start model"></i>
                                        {% endif %}
                                        <i url="{% url 'detail_docker' docker_id=docker.id%}" method="delete" class="fas fa-trash text-danger pointer" data-toggle="tooltip" data-placement="bottom" title="Delete model" onclick="click_model(this, 'i{{docker.id}}', 'Confirm request', '¿You want to delete the container?',)"></i>
                                    </div>
                                </div>
                            </h5>
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    {{docker.user.last_name}}
                                </div>
                                <div class="col-6 text-right">
                                    <span data-toggle="tooltip" data-placement="bottom" title="{{docker.timestamp | clean_date}}">
                                        {{docker.timestamp | date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col 12">There are no models created so far</div>
        {% endif %}
    </div>
</div>

{% endblock %}