{% extends request.user.get_template %}

{% block title %}Profile{% endblock %}
{% block content %}
{% load dir %}

<div class="container">
    <div class="row mb-2">
        <h3>{{docker.name}}</h3>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-6 mb-3">
            <div class="card mb-2">
                <video controls autoplay muted class="w-100">
                    <source src="{{input.value}}" type="video/mp4">
                </video>
                {% comment %} <img class="card-img-top" src="{{input.value}}" alt="..."> {% endcomment %}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card mb-2">
                <video controls autoplay muted class="w-100">
                    <source src="{{output.value}}" type="video/mp4">
                </video>
                {% comment %} <div class="card-body">
                    <div id="container"></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{response.value}}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for i in docker.get_experiments %}
                    <li class="page-item mr-2">
                        <a class="page-link rounded-circle {% if i.id == experiment %} disabled text-white bg-primary {% else %} text-primary bg-light {% endif %}" href="{% url 'show_experiments' docker_id=docker.id experiment_id=i.id%}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}