{% extends '../navbar/layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% load dir %}
{% load staticfiles %}

<div class="container">
    <form action="{% url 'create_docker' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control{% if errors.name %} is-invalid {% endif %}" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter name proyect">
                    <small class="form-text text-danger">{{errors.name | error}}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="img_name">Image name:</label>
                    <input type="text" class="form-control{% if errors.img_name %} is-invalid {% endif %}" id="img_name" name="img_name" aria-describedby="emailHelp" placeholder="Enter name of image docker">
                    <small class="form-text text-danger">{{errors.img_name | error}}</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="languaje">Languaje:</label>
                    <select class="custom-select {% if errors.languaje %} is-invalid {% endif %}" id="languaje" name="languaje">
                        <option value="python">Python</option>
                    </select>
                    <small class="form-text text-danger">{{errors.languaje | error}}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="proto_path">Proto file:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input {% if errors.proto_path %} is-invalid {% endif %}" id="proto_path" name="proto_path" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="proto_path">Choose proto file</label>
                    </div>
                    <small class="form-text text-danger">{{errors.proto_path | error}}</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <div class="p-1 border border-secondary rounded" data-toggle="tooltip" data-placement="top" title="Input data">
                                            <div class="card mb-1">
                                                <img src="{% static 'img/default.jpg' %}" alt="...">
                                            </div>
                                            <select class="custom-select" id="input" name="type">
                                                <option value="img">Image</option>
                                                <option value="video">Video</option>
                                                <option selected value="none">None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="p-1 border border-secondary rounded" data-toggle="tooltip" data-placement="top" title="Output data">
                                            <div class="card mb-1">
                                                <img src="{% static 'img/default.jpg' %}" alt="...">
                                            </div>
                                            <select class="custom-select" id="output" name="type">
                                                <option value="img">Image</option>
                                                <option value="video">Video</option>
                                                <option selected value="none">None</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="p-1 border border-secondary rounded" data-toggle="tooltip" data-placement="top" title="Response">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos quam ab facilis esse numquam alias eos, similique accusantium adipisci veritatis incidunt, sapiente magni quaerat ipsum odit hic dolorum magnam.
                                            <select class="custom-select" id="response" name="type">
                                                <option value="txt">Text</option>
                                                <option selected value="none">None</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="col-12">
                                    <div class="p-1 border border-secondary rounded" data-toggle="tooltip" data-placement="top" title="Graph">
                                        <div id="container"></div>
                                        <select class="custom-select" id="graph" name="type">
                                            <option selected value="none">None</option>
                                            {% for i in kind %}
                                                <option value="{{i.0}}">{{i.1}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="form-text text-danger float-right">{{messages | error}}</div>
    </form>
</div>

<script>
    $('.custom-select').change(function(){
        if($(this).val() != 'none'){
            $(this).parent().removeClass('border-secondary')
        } else {
            $(this).parent().addClass('border-secondary')
        }
    });
    Highcharts.chart('container', {

        data: {
            csvURL: 'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/analytics.csv',
            beforeParse: function (csv) {
                return csv.replace(/\n\n/g, '\n');
            }
        },

        title: {
            text: 'Graph'
        },

        xAxis: {
            tickInterval: 7 * 24 * 3600 * 1000, // one week
            tickWidth: 0,
            gridLineWidth: 1,
            labels: {
                align: 'left',
                x: 3,
                y: -3
            }
        },

        yAxis: [{ // left y axis
            title: {
                text: null
            },
            labels: {
                align: 'left',
                x: 3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        }, { // right y axis
            linkedTo: 0,
            gridLineWidth: 0,
            opposite: true,
            title: {
                text: null
            },
            labels: {
                align: 'right',
                x: -3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        }],

        legend: {
            align: 'left',
            verticalAlign: 'top',
            borderWidth: 0
        },

        tooltip: {
            shared: true,
            crosshairs: true
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (e) {
                            hs.htmlExpand(null, {
                                pageOrigin: {
                                    x: e.pageX || e.clientX,
                                    y: e.pageY || e.clientY
                                },
                                headingText: this.series.name,
                                maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                    this.y + ' sessions',
                                width: 200
                            });
                        }
                    }
                },
                marker: {
                    lineWidth: 1
                }
            }
        },

        series: [{
            name: 'All sessions',
            lineWidth: 4,
            marker: {
                radius: 4
            }
        }, {
            name: 'New users'
        }]
    });
</script>

{% endblock %}