{% extends '../navbar/layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% load static %}
    


<div class="container">
    <form action="{% url 'run_process' docker_id=docker.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="inputGroupSelect01">Upload file</label>
        <div class="custom-file mb-3">
            <input type="file" name="input_file" id="input_file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}